@import 'common';
@import 'tab';
@import 'nav';

// index
.msg-list {
    a {
        display: block;
        position: relative;
        padding: 5px 10px 0;
        border-bottom: 1px solid #ddd;
    }

    li {
        margin-bottom: 10px;

        &.nodata {
            text-align: center;
            padding: 30px;
            color: #999;
        }
    }

    .msg-item-at {
        a {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            padding-bottom: 10px;
        }

        .item-ico {
            position: relative;
            display: block;
            text-align: center;
            width: 40px;
            margin-right: 10px;
        }

        .item-at {
            background-color: #5bb4da;
        }

        .item-comment {
            background-color: #35b87f;
        }

        .iconf {
            display: inline-block;
            color: #fff;
            font-size: 40px;
        }

        .list-item {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100%;
            padding: 0 11px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-direction: normal;
            -webkit-box-orient: vertical;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

        .item-plus {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
            margin-right: 7px;

            .item-plus {
                font-size: 1.875rem;
                color: #aaa;
            }

            .bubble {
                margin-top: 2px;
                margin-right: 0;
            }
        }
    }

    .user-avator {
        width: 50px;

        img {
            display: block;
        }
    }

    .user-info {
        margin-left: 50px;

        dt {
            padding-right: 4rem;
            margin-top: -3px;
            .ellipsis();
        }

        dd {
            .ellipsis();
            margin-right: 4rem;
            color: #929292;
            line-height: 1em;
            padding-top: 2px;
            padding-bottom: 10px;
        }
    }

    .plus {
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 12px;
    }

    .dateline {
        color: #929292;
        position: absolute;
        width: 5rem;
        right: 7px;
        top: 1px;
        line-height: 1em;
        text-align: right;
        font-size: .625rem;
        overflow: hidden;
        white-space: nowrap;
    }

    .bubble {
        margin-top: 24px;
        margin-right: 7px;
        font-size: 9px;
    }
}

// notice list
.notice-list {
    a {
        padding: 10px;
    }

    li {
        margin: 0;

        .user-info {
            margin-left: 50px;

            dt {
                min-height: 16px;
            }
        }

        .plus {
            top: 5px;
        }
    }
}


// new message
.show-msg {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    .box-shadow(0 1px 1px #ccc);
}
.box-success {
    border-color: #a2d246;
    background-color: #ebf8a4;
    color: #000;
}
.box-fail {
    border-color: #f44400;
    color: #ff3300;
    background-color: #ffc4de;
}
.msg-form {
    margin: 0 10px;
}

@import 'form';
@import 'popup';
@import 'list';
@import 'menu';